.modal-content {
    z-index: 10000000000;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body,html {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    
    -ms-overflow-style: none;
    -ms-content-zooming: none;

    background-attachment: fixed;
    overflow: hidden;

    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
/*
        text-transform:uppercase;
*/
}

body{
    /*padding-top: 60px;*/
    padding-top: 121px;
    padding-bottom: 72px;
    background-color: #000000;
}

.appName {
    margin-top: 0;
    text-align: center;
}

.daysPanel {
    position:fixed;
    top: 80px;
    left: 0px;
    width: 100%;
    text-align: center;

    background-color: #dddddd;
}

.schedule {
    position:relative;
    -ms-touch-action:auto;
    height:100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #dddddd;
}

.leftPanel {
    position: absolute;
    top:0;
    left: 0px;
    height: 100%;
    width: 20px;

}

.rightPanel {
    position: absolute;
    top:0;
    right: 0px;
    height: 100%;
    width: 20px;

}

.scheduleItems {
    padding-top: 15px;
    overflow: auto;
    height:100%;
    width:100%;
}

.item{

}

.time {
    margin-left:-10px;
    margin-top:-5px;
}

.lessonName {

}

.description {
    text-indent: 20px;
    border-top-style:solid;
    border-width: 1px;
}

/* static panels */
.topPanel {
   position: fixed;
   width: 100%;
   top:0;
   height: 79px;
   background-color: cornflowerblue;
}

.title {
    text-align: center;
    font-stretch: condensed;
    font-size: 14pt;
    color: #ffffff;
    background-color: cornflowerblue;
}

.group {
    margin-top: 2px;
    width: 100%;
    height: 48px;
}

.bottomPanel {
    bottom: 0;
    position: fixed;
    width: 100%;
    height:72px;
    background-color: #dddddd;
}

.bottomButton {
    height: 70px;
}